In [2]:
record = {1001: {'Name': "5 Star"         , "Price" : 10 , "Qn" : 200},
          1002: {'Name': "Bar-One"        , "Price" : 20 , "Qn" : 100 },
          1003: {'Name': "Candy"          , "Price" : 2  , "Qn" : 1000},
          1004: {'Name': "Chocolate Cake" , "Price" : 550, "Qn" : 8 },
          1005: {'Name': "Blueberry Cake" , "Price" : 650, "Qn" : 5 }}

In [3]:
print("--------------------MENU---------------------")
for key in record.keys():
    print(key, record[key]['Name'], record[key]['Price'], record[key]['Name'])
print("---------------------------------------------")
print('')

ui_pr = int(input("Enter product ID : "))
ui_qn = int(input("Enter Quantiry   : "))

print("---------------------------------------------")
print('')

print("Name      : ", record[ui_pr]["Name"])
print("Price (Rs): ", record[ui_pr]["Price"])
print("Quantity  : ", ui_qn)
print("---------------------------------------------")
print("Billing   : ", ui_qn * record[ui_pr]["Price"], "Rs")
print("---------------------------------------------")

record[ui_pr]['Qn'] = record[ui_pr]['Qn'] - ui_qn

print('')
print("---------------------------------------------")
print("  Thanks for your order, Inventory Updated!  ")
print("---------------------------------------------")

--------------------MENU---------------------
(1001, '5 Star', 10, '5 Star')
(1002, 'Bar-One', 20, 'Bar-One')
(1003, 'Candy', 2, 'Candy')
(1004, 'Chocolate Cake', 550, 'Chocolate Cake')
(1005, 'Blueberry Cake', 650, 'Blueberry Cake')
---------------------------------------------

Enter product ID : 1001
Enter Quantiry   : 2
---------------------------------------------

('Name      : ', '5 Star')
('Price (Rs): ', 10)
('Quantity  : ', 2)
---------------------------------------------
('Billing   : ', 20, 'Rs')
---------------------------------------------

---------------------------------------------
  Thanks for your order, Inventory Updated!
---------------------------------------------

In [44]:
record[ui_pr]['Qn']

95

In [38]:
ui_qn

1

In [40]:
record[ui_pr]['Qn'] - ui_qn

7

In [4]:
record

{1001: {'Name': '5 Star', 'Price': 10, 'Qn': 198},
 1002: {'Name': 'Bar-One', 'Price': 20, 'Qn': 100},
 1003: {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 1004: {'Name': 'Chocolate Cake', 'Price': 550, 'Qn': 8},
 1005: {'Name': 'Blueberry Cake', 'Price': 650, 'Qn': 5}}