In [4]:
record = {1001: {'Name': "5 Star"         , "Price" : 10 , "Qn" : 200},
          1002: {'Name': "Bar-One"        , "Price" : 20 , "Qn" : 100 },
          1003: {'Name': "Candy"          , "Price" : 2  , "Qn" : 1000},
          1004: {'Name': "Chocolate Cake" , "Price" : 550, "Qn" : 8 },
          1005: {'Name': "Blueberry Cake" , "Price" : 650, "Qn" : 5 }}

In [5]:
record

{1001: {'Name': '5 Star', 'Price': 10, 'Qn': 200},
 1002: {'Name': 'Bar-One', 'Price': 20, 'Qn': 100},
 1003: {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 1004: {'Name': 'Chocolate Cake', 'Price': 550, 'Qn': 8},
 1005: {'Name': 'Blueberry Cake', 'Price': 650, 'Qn': 5}}

In [33]:
print("--------------------MENU---------------------")
for key in record.keys():
    print(key, record[key]['Name'], record[key]['Price'], record[key]['Name'])
print("---------------------------------------------")
print('')

ui_pr = int(input("Enter product ID : "))
ui_qn = int(input("Enter Quantiry   : "))

print("---------------------------------------------")
print('')

print("Name      : ", record[ui_pr]["Name"])
print("Price (Rs): ", record[ui_pr]["Price"])
print("Quantity  : ", ui_qn)
print("---------------------------------------------")
print("Billing   : ", ui_qn * record[ui_pr]["Price"], "Rs")
print("---------------------------------------------")

--------------------MENU---------------------
(1001, '5 Star', 10, '5 Star')
(1002, 'Bar-One', 20, 'Bar-One')
(1003, 'Candy', 2, 'Candy')
(1004, 'Chocolate Cake', 550, 'Chocolate Cake')
(1005, 'Blueberry Cake', 650, 'Blueberry Cake')
---------------------------------------------

Enter product ID : 1005
Enter Quantiry   : 1
---------------------------------------------

('Name      : ', 'Blueberry Cake')
('Price (Rs): ', 650)
('Quantity  : ', 1)
---------------------------------------------
('Billing   : ', 650, 'Rs')
---------------------------------------------

In [34]:
record

{1001: {'Name': '5 Star', 'Price': 10, 'Qn': 200},
 1002: {'Name': 'Bar-One', 'Price': 20, 'Qn': 100},
 1003: {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 1004: {'Name': 'Chocolate Cake', 'Price': 550, 'Qn': 8},
 1005: {'Name': 'Blueberry Cake', 'Price': 650, 'Qn': 5}}